<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-white"
     routerLink="">{{ 'app.title' | translate }}</a>
  <div class="navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white"
           routerLink="cars"
           routerLinkActive="font-weight-bold">{{ 'cars.title' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white"
           routerLink="contact"
           routerLinkActive="font-weight-bold">{{ 'contact.title' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>
