<ng-container *ngIf="carsState$ | async; let carsState">
  <div *ngIf="!carsState.firstLoadingCars; else carsLoader">
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let car of carsState.cars"
          (click)="onCarClick(car)"
          [class.active]="carsState.selectedCar && carsState.selectedCar.id === car.id">
        {{ car.brand }} {{ car.model }}
      </li>
    </ul>
    <div class="mt-3">
      <button type="button"
              class="btn btn-primary"
              (click)="onCreateCar()">
        <i class="fa fa-plus"></i>
        {{ i18NPrefix + 'add' | translate }}
      </button>
    </div>
  </div>
  <ng-template #carsLoader>
    <h1 class="mb-4 text-center"
        *ngIf="!carsState.carsError; else carsErrorMsg">
      <i class="fa fa-spinner fa-spin"></i>
    </h1>
    <ng-template #carsErrorMsg>
      <div class="alert alert-danger"
            role="alert"
            [innerHTML]="i18NPrefix + 'loadingError' | translate">
      </div>
    </ng-template>
  </ng-template>
</ng-container>
